
<body class = "initColor">
	<div class="slideshow">
    	<h1 class = "tittle">Las grandes rutas de la música</h1>

    	<article class = "presentation">Te ofrecemos un viaje</br> inigualable en función del</br> estilo musical que prefieras</article>

    	<article class = "link">
    		<p class = "grunge">
    			<%= link_to 'Grunge', grunge_path, class: "text1" %>
    		</p>
    	</article>

		<article class = "link2">
    		<p class = "grunge">
    			<%= link_to 'Grunge', grunge_path, class: "text1" %>
    		</p>
    	</article>

    	<article class = "link3">
    		<p class = "grunge">
    			<%= link_to 'Grunge', grunge_path, class: "text1" %>
    		</p>
    	</article>

    	<article class = "link4">
    		<p class = "grunge">
    			<%= link_to 'Grunge', grunge_path, class: "text1" %>
    		</p>
    	</article>
	</div> 	
</body>
