
<body class = "initColor">
	<div class="slideshow">
    	<article class = "link">
    		<p class = "grunge">
    			<%= link_to 'Grunge', grunge_path, class: "text1" %>
    		</p>
    	</article>

	</div> 	
</body>
