<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Grunge</span> Wikipedia
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Grupos principales</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Que visitar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Ruta</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Ruta del</br> Grunge</h1>
                        <p class="intro-text">Un viaje por los lugares<br>más emblemáticos de este movimiento</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sin Seattle no hay Grunge</h2>
                <p>Comenzamos con <a href="www.nirvana.com">Nirvana,</a>que fue un grupo estadounidense procedente de Aberdeen, Washington. Con el éxito del sencillo "Smells Like Teen Spirit", del álbum Nevermind, fueron un icono de los 90's.El viernes 8 de abril de 1994, el cuerpo sin vida de Cobain fue descubierto por un electricista en su casa de Seattle, dando así fin a Nirvana (de no haber sido por eso seguro que habría sido una de las mejores bandas de rock de la actualidad). <a href="http://pearljam.com/">Pearl Jam</a> es una banda de rock formada en Seattle, Estados Unidos, en el año 1990. Siempre se ha caracterizado por su rechazo a adherirse a las prácticas comunes de la industria musical (es considerado uno de los grupos más importantes de la década los 90). Continuamos con <a href="http://stonetemplepilots.com/">Stone Temple Pilots</a>, que fueron contemporáneos de Pearl Jam, Nirvana, <a href="http://www.aliceinchains.com/">Alice in Chains</a> o <a href="http://soundgarden.shop.bravadousa.com/">Soundgarden</a>, entre otros. A pesar de sufrir notorias acusaciones de copiar el estilo de otros grupos, Stone Temple Pilots sobrevivió a las feroces críticas y escribió su particular página en la historia de la música con cinco LP's autónomos y el progresivo desarraigo con las tendencias y modas musicales del momento. <a href="http://bushofficial.com/">Bush</a> es una banda inglesa formada en Londres en 1992. En la temporada 19 de la famosa serie de televisión "The Simpsons", en el capítulo llamado "El show de los 90's", Homer hace una version de Glycerine (una de las canciones mas conocidas de esta banda). <a href="http://www.blindmelon.com/">Blind Melon</a>, se formó en el estado de California. Su actividad se extendió desde 1989 hasta 1995. La banda paso algún tiempo en receso debido a la muerte de su vocalista Shannon Hoon en 1995, aunque fue reformada en 2006 al ser sustituido Hoon por Travis Warren. Acabamos con <a href="http://www.chairpage.com/news/">Silverchair</a>, que fue una banda australiana que irrumpió en el mercado a finales del año 1994, con su primer y exitoso single "Tomorrow". El video clip de la canción tuvo una muy buena rotación en la cadena musical MTV lo cual le permitió tener un masivo éxito tambien en los Estados Unidos. Ya en el año 1995 lanzan lo que sería su primer álbum, "Frogstomp", obteniendo un gran éxito, logrando vender alrededor de 2,5 millones de copias en todo el mundo.</p>
                
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>