/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.initColor
{
    background-image: url('/images/rockConcert3.jpg');
}

    .slideshow
    {
        position: relative;
        width: 100%;
        height: 677px;
    }
    .slideshow img
    {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index:-1;
        background-size: cover;
    }

        .tittle
        {
            font-family:arial;
            font-size:350%;
            color: white;
            position:absolute;
            top:5%;
            left:20%;
            text-shadow: 0.1em 0.1em #333;
        }

        .presentation
        {

            font-family: arial;
            font-size: 232%;
            color: white;
            position: absolute;
            top: 30%;
            left: 33%;
            text-align: center;

                        
        }

        .link, 
        .link2, 
        .link3,
        .link4
        {
            width: 13%;
            border: 3px solid white;
            border-radius: 100%;
            height: 23%;
            background-color: transparent;
            color: white;
            position: absolute;
            
        }

        .link
        {
            top: 38%;
            left: 15%;
            text-align: center;
        }

        .link2
        {
            top: 60%;
            left: 34%;
            text-align: center;
        }

        .link3
        {
            top: 60%;
            left: 54%;
            text-align: center;
        }

        .link4
        {
            top: 38%;
            left: 72%;
            text-align: center;
        }


            .grunge
            {
                padding-top: 39%;
                padding-left: 4%;
            }

                .text1
                {
                    color: white;
                    font-family: arial;
                    font-size:189%;

                }

